@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@font-face {
    font-family: 'Ubuntu mono';
    src: url('./assets/UbuntuMono-Regular.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root, .App {
    font-family: 'Ubuntu mono';
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('./assets/wall4.jpeg') ;
    background-repeat: no-repeat;
    background-size: cover;

    
}



.main-content {
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    
}

h3{
    font-size: 52px;
}

h4 {
    font-size: 48px;

}

.fade-in-2seconds {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
.fade-in-6seconds {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 6s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
